//Theme Colors
$text-primary: #000000;

$bckgrnd-main: #eeeeee;

$highlight: #2eaae2;

:root {
  font-size: 16px;
}

main {
  display: grid;
  margin: 30px;
  padding: 0;
  margin: 30px;
  grid-template-columns: 50% 50%;
  .col2 {
    padding: 30px;
  }
  .col1 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

body {
  color: $text-primary;
  background-color: $bckgrnd-main;

  //Webkit-scrollbar
  &::-webkit-scrollbar-corner {
    background: $bckgrnd-main;
  }

  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: $highlight;
  }
  margin: 0 !important;
}

/*-----------Forms/buttons-------*/
input[type="text"],
textarea {
  font-size: 2rem;
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  font-size: 2rem;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: $highlight;
}

button {
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  #copy {
    background-color: #4caf50;
  }
}

button:hover {
  background-color: $highlight;
  #copy {
    background-color: $highlight;
  }
}

#title {
  background-color: black;
  color: white;
  margin-top: 0;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
}

#label {
  display: none;
}

.thumb-image {
  width: 50%;
  height: 50%;
}

.dragNDrop {
  border: dotted #add8e6;
  text-align: center;
  padding-bottom: 20px;
}

/*---------Tool Tips----------*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
